.textoPag{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #003e60;
}

.titulos{
    font-size: 18pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #003e60;
}