<div class="card-deck textoPag">
  <div class="card">
    <img src="./assets/ciberseguridad.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title titulos">Ciberseguridad</h5>
      <p class="card-text text-justify">Hace un tiempo tome un diplomado de ciberseguridad y Hacking Ético, durante este tiempo de "cuarentena" también ingrese a un curso de Ethical Hacking y a otro de ciberseguridad y NIST CFS.</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/explotacionDatos.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title titulos">Explotación e interpretación de datos</h5>
      <p class="card-text text-justify">Me resulto muy entretenido y me gustó mucho el proceso de búsqueda, interpretación y comparación de datos que permite un conocimiento a detalle, transformando los datos en información comprensible para el usuario.</p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/mujeresChingonas.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-justify">En lo personal han sido mujeres que han tenido un impacto positivo en la sociedad, se han adaptado a su entorno, rompieron con las etiquetas impuestas en su tiempo y aportaron a la humanidad conocimiento:
        <br/>
        <br/>
        (De la esquina superios izquierda a derecha)
        Catalina la Grande (Sofía de Anhalt-Zerbst), Isabel I de Inglaterra, Dido Elizabeth Belle, Hipatia de Alejandría, Matilde Montoya, Katherine Johnson, Ada Lovelace, Hedy Lamarr y Jude Milhon.
      </p>
    </div>
  </div>
</div>