<div class="card mb-3 py-3">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="./assets/yo2.jpeg" class="card-img" alt="...">
      </div>
      <div class="about col-md-8">
        <div class="card-body">
            <h5 class="card-title">Hola, mi nombre es Madrid Gutiérrez Hernández.</h5>
            <p class="card-text text-justify">Ingeniero en sistemas computacionales con tres años de experiencia que contribuyó en la migración de datos y en el desarrollo de diferentes modulos para plataformas Web como Harweb (aplicativo gubernamental), Víctimas (control de procesos de la Comisión Ejecutiva de Atención a Víctimas del Estado de México), el IMR-Enterprise Solution (validación de generadores y estimaciones de obra de construcción y mantenimiento en el golfo de México) y Estímulos a Docentes y Administrativos de la Secretaría de Educación de Veracruz (SEV). Estuve en algunas compañías del sector Oil & Gas, brindando atención offshore a los usuarios.
            <br/>
            Soy optimista ante los retos de nuevos proyectos, autodidacta, colaboró aportando ideas y soluciones, creo mucho en el trabajo en equipo, en el compartir del conocimiento adquirido así como las experiencias del mismo. Procuro adaptarme rápido y ser un gestor de la mejora continua.
          </p>
        </div>
      </div>
    </div>
  </div>
