<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="card mb-3">
        <img src="./assets/Bienvenidos.png" class="card-img-top" alt="...">             
    </div>

    <!--navegador-->

    <div class='my-2 py-2'>
      <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/aboutme" role="tab" aria-controls="home" aria-selected="true">Acerca de mi</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="personal-tab" data-toggle="tab" routerLink="/personal" role="tab" aria-controls="personal" aria-selected="true">Intereses personales</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="proyecto-tab" data-toggle="tab" routerLink="/proyectos" role="tab" aria-controls="profile" aria-selected="false">Proyectos</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/contacto" role="tab" aria-controls="contact" aria-selected="false">Datos de contacto</a>
        </li>
      </ul>
    </div>

</body>
</html>

